<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/station_css/owner_account_details.css">
    <title>STATION-OWNER</title>
</head>
<body>
    <div class="menu">
        <%- include("partials/Nav") %>

        <div class="box">
            <a class="headline">Account details</a>
            <hr>
            <div class="photo"> <img src="" alt="user-photo"> </div>
            <div class="personal-details">
                <a class="user-name">Owner ID: <%= owner._id.toString().substring(0,6) %></a>
                <hr class="line">
                <a class="details">NAME: <%= owner.Name %></a>
                <br>
                <hr class="line">
                <a class="details">MOBILE NUMBER: <%= owner.Mobile %></a>
                <br>
                <hr class="line">
                <a class="details">ADDHAR NUMBER: <%= owner.Aadhar %> 
                </a>
                <br>
                <hr class="line">
                <a class="details">Gmail: <%= owner.UserName %></a>
                <br>
                <hr class="line">
                <a class="details">Address: <%= station.Address %>
                </a>
                <br>
            </div>
           
            <div class="primary_info">
                <div class="avalible-charging-levels ">
                    <A class="headline">AVALIBLE CHARGING TYPES
                    </A>
                    <hr class="line">
                <% station.AvailableTypes.forEach(function(level){ %>
                    <% if(level.slots === 0){ %>
                        <a class="TYPE1"><%= level.level %>: NO</a>
                    <% }else{ %>
                        <a class="TYPE1"><%= level.level %>: YES</a>
                    <% } %>
                    <br>
                    <hr class="line">                   
                <% }); %>
                </div>
                <DIV class="slots">
                    <A class="headline">SLOTS
                    </A>
                    <% station.AvailableTypes.forEach(function(level){ %>
                        <hr class="line">
                        <a class="TYPE1-SLOTS"><%= level.slots %>
                        </a>
                        <br>
                        <% }); %>    
                        <hr class="line">            
                </DIV>
            </div>
        </div>      
    </div>
   


</body>
</html>