<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        slot and pricing
    </title>
    <link rel="stylesheet" href="/station_css/slotpricing-and-details.css">
<body>
    <div class="menu">
        <%- include("partials/Nav") %>
        <a class="headline1">Update charge type and slots:
        </a>
        <div class="primary_info">
            <div class="avalible-charging-levels ">
                <A class="headline">AVALIBLE CHARGING TYPES
                </A>
                <hr class="line">
            <a class="TYPE1">LEVEL-1: YES</a>
            <br>
            <hr class="line">
            <a class="TYPE2">LEVEL-2: NO</a>
            <br>
            <hr class="line">
            <a class="TYPE3">LEVEL-3: NO </a>
            <br>
            </div>
            <DIV class="slots">
                <A class="headline">SLOTS
                </A>
           
            <hr class="line">
            <a class="TYPE1-SLOTS">6
            </a>
            <br>
            <hr class="line">
            <a class="TYPE2-SLOTS">zero
            </a>
            <BR>
            <hr class="line">
            <a class="TYPE3-SLOTS">zero
            </a>
            <br>
            
            </DIV>   
        </div>

        <a class="headline2">Price</a>
        <div class="primary_info1">
            <div class="avalible-charging-level">
               <A class="headline">TYPE OF CHARGERS</A>
               <hr class="line">
            <a class="TYPE1">LEVEL-1: </a>
            <br>
            <hr class="line">
            <a class="TYPE2">LEVEL-2: </a>
            <br>
            <hr class="line">
            <a class="TYPE3">LEVEL-3: </a>
            <br>
            </div>
            <DIV class="ENERGY_CONSUMPTION">
               <A class="headline">ENERGY CONSUMPTION
               </A>
       
            <hr class="line">
            <a class="TYPE1-SLOTS">KW
            </a>
            <br>
            <hr class="line">
            <a class="TYPE2-SLOTS">KW
            </a>
            <BR>
            <hr class="line">
            <a class="TYPE3-SLOTS">KW
            </a>
            <br>
        
            </DIV>
            <DIV class="PRICE">
               <A class="headline">PRICE
                </A>
       
            <hr class="line">
            <a class="TYPE1-SLOTS">20/-
            </a>
            <br>
            <hr class="line">
            <a class="TYPE2-SLOTS">30/-
            </a>
            <BR>
            <hr class="line">
            <a class="TYPE3-SLOTS">50/-
            </a>
            <br>
        
            </DIV>
        </div>

        <div class="slot_booked">
            <a class="title2">SLOT BOOKED</a>
            
            <table class="SLOT-INFO">
                <tr>
                    <th>
                        S.NO
                    </th>
                    <th>
                        DATE
                    </th>
                    <th>
                       SLOT TIMING
                    </th>
                    <th> USER-NAME</th>
                    <th>MOBILE NUMBER</th>
                    <th>CHARGER TYPE</th>
                    <th> ENERGY CHARGED</th>
                </tr>
<% histories.forEach(function(history){ %>
    <tr>
        <td>
            1
        </td>
        <td>
            <%= history.Date %>
        </td>
        <td>
            <%= history.time %>
        </td>
        <td> <%= history.UserName %> </td>
        <td><%= history.userMobile %></td>
        <td> <%= history.chargerType %> </td>
        <td><%= history.energyCharged %>kw</td>
    </tr>
    <% }); %>
            </table>
        </div>

    </div> 
</body>
</html>