<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEVEL-2 STATIONS</title>
    <link rel="stylesheet" href="/charging-station/css/station.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>

    </div>
    <div class="title">
        <a class="title1"> LEVEL-2 CHARGING STATIONS</a>
        <a class="title1-1">240V</a>
    </div>
    <% stations.forEach(function(station){ %>
    <a href="/user/book/Level 2/<%= station.name %>">
        <div class="station-1">

            <div class="image-sec">
                <img class="image11" src="/charging-station/images/icons8-add-image-96.png">                
            </div>
            <div class="details">
                <a  class="name1">
                   <%= station.name %>
                </a>
                <hr class="hrline">
                <div class="address-block"><a class="address"> <%= station.address %> </a>
                
                </div>
                <hr class="hrline">
                <div class="slots">
                    <a class="slots-title">Slots per day</a>
                    <hr>
                    <a class="slots-avaliable"><%= station.slots %></a>
                </div>
                <div class="price">
                    <a class="slots-title">Price per kW</a>
                    <hr>
                    <a class="slots-avaliable">20$</a>
                </div>
            </div> 
            <div class="rating">
                <a class="rating1">Rating: </a> 
                <a class="rating2">3.5/5</a>
             </div> 
            </div>
    </a>
    <% }); %>




    
</body>
</html>