<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>
        <div class="booking-status">
            <a class="status-name">BOOKING STATUS</a>
            <hr>
            <table class="table2">
               <tr>
                   <th>
                       Date
                   </th>
                   <th>charging station</th>
                   <th>
                     slot
                   </th>
                   <th>
                       time
                   </th>
                   <th>
                       price per kW
                   </th>
                   <th>
                      book slot
                   </th>
               </tr>
<% histories.forEach(function(history){ %>
    <tr>
        <td>
            <%= history.Date %>
        </td>
        <td><%= history.StationName %></td>
        <td>
            <%= history.slotNumber %>
        </td>

        <td>
            <%= history.time %>
        </td>
        <td>
            <%= history.price %>$
        </td>
        <td>
           <a > <%= history.status %> </a>
        </td>
    </tr> 
    <% }); %>
         
       </div>
    </div>
    
</body>
</html>