<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STATION-DETAILS</title>
    <link rel="stylesheet" href="/charging-station/css/stationdetails.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>
    </div>

    <div class="station-details">
        <a class="station-name"><%= station.station_Name %></a>
        <hr>
        <a class="address"><%= station.Address %></a>
    </div>

    <div class="book-station">
        <a class="booking-line">BOOK YOUR SlOT</a>
        <hr>
        <div class="calendar-wrapper">
            <h3 class="month">MARCH 2023</h3>
            <ol class="calendar">
              
              <li class="day-name"><a class="day">Sun</a></li>
              <li class="day-name"><a class="day">Mon</a></li>
              <li class="day-name"><a class="day">Tue</a></li>
              <li class="day-name"><a class="day">Wed</a></li>
              <li class="day-name"><a class="day">Thu</a></li>
              <li class="day-name"><a class="day">Fri</a></li>
              <li class="day-name"><a class="day">Sat</a></li>
              
              <li class="first-day date">1</li>
    
              <li class="date">2</li>
              <li class="date">3</li>
              <li class="date">4</li>
              <li class="date">5</li>
              <li class="date">6</li>
              <li class="date">7</li>
              <li class="date">8</li>
              <li class="date">9</li>
              <li class="date">10</li>
              <li class="date">11</li>
              <li class="date">12</li>
              <li class="date">13</li>
              <li class="date">14</li>
              <li class="date">15</li>
              <li class="date">16</li>
              <li class="date">17</li>
              <li class="date">18</li>
              <li class="date">19</li>
              <li class="date">20</li>
              <li class="date">21</li>
              <li class="date">22</li>
              <li class="date">23</li>
              <li class="date">24</li>
              <li class="date">25</li>
              <li class="date">26</li>
              <li class="date">27</li>
              <li class="date">28</li>
              <li class="date">29</li>
              <li class="date">30</li>
              <li class="date">31</li>
            
            </ol>
        </div>
        <div class="slot-details">
            <a class="slot-details1"> SLOTS AVALIABLE</a>
            <br>
            <br>
            <a > <%= slots %> </a>
            <input type="time" name="" id="start-slot">
            <input type="time" name="" id="end-slot">
            

        </div>

        <div class="booking-status">
             <a class="status-name">BOOKING STATUS</a>
             <hr>
             <table class="table2">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                      slot
                    </th>
                    <th>
                        time
                    </th>
                    <th>
                        price per kW
                    </th>
                    <th>
                       book slot
                    </th>
                </tr>

                <tr>
                    <td id="booked-date">
                        
                    </td>
                    <td>
                        1
                    </td>

                    <td id="booked-slot">

                    </td>
                    <td>
                      <%= price %>$
                    </td>
                    <td>
                       <form action="/user/book/<%= station.station_Name %>/<%= level %>" method="post">
                        <input type="hidden" name="date" id="date">
                        <input type="hidden" name="slotNumber" id="slot" value="1">
                        <input type="hidden" name="time" id="time">
                        <input type="hidden" name="price" id="price" value="<%= price %>">
                        <input type="hidden" name="status" value="booked">
                        <input type="submit" value="submit" id="btn">
                       </form>
                    </td>
                </tr>
            
        </div>
        <div class="map">
            <a class="location-name">LOCATION</a>
            <hr>
        </div>
    </div>
   
</body>
<script>
    const dates = document.getElementsByClassName("date");
    const bookeddate = document.getElementById("booked-date");
    const slotstart = document.getElementById("start-slot");
    const slotend = document.getElementById("end-slot");
    const booked_slot = document.getElementById("booked-slot");

    const formdate = document.getElementById("date");
    const formtime = document.getElementById("time");
    const frombtn = document.getElementById("btn");

    for(let i=0;i<dates.length;i++){
        dates[i].addEventListener("click",function(event){
            bookeddate.innerHTML= dates[i].innerHTML +"-03-2023";
            formdate.value = bookeddate.innerHTML
        });
    }
    let slot = "" ;
    slotstart.addEventListener("change",function(event){
        slot = slot + slotstart.value.toString();
        console.log(slot);
    });
    slotend.addEventListener("change",function(event){
        slot = slot + "-" + slotend.value.toString();
        booked_slot.innerHTML = slot;
        formtime.value = booked_slot.innerHTML;
    });

    frombtn.addEventListener("submit",function(event){
        alert("Booked successfully");
    });


</script>
</html>