<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="/css/useraccount.css">
</head>
<body>
    <div class="menu">
        <%- include("partials/bar") %>

        <div class="shop-image">
        
        </div>

        <div class="box">
            <a class="headline">Account details</a>
            <hr>
            <div class="photo"> <img src="" alt="user-photo"> </div>
            <div class="personal-details">
                <a class="user-name">USER ID: <%= user._id.toString().substring(0,6) %></a>
                <hr class="line">
                <a class="details">NAME: <%= user.Name %></a>
                <br>
                <hr class="line">
                <a class="details">MOBILE NUMBER: <%= user.Mobile %></a>
                <br>
                <hr class="line">
                <a class="details">Gmail: <%= user.Mail %></a>
                <br>
                <hr class="line">
                <a class="details">Address: <%= user.Address %>
                    
                </a>
                <br>
            </div>

        </div>








































    </div>
    
</body>
</html>