

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> REGISTRATION FORM </title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
        <div class="text-center">
          <h2>REGISTER - FILL THE DETAILS!!!</h2>
        </div>
        <div class="row justify-content-center my-5">
          <div class="col-lg-6">
            <form action="/ownersignup/final" method="post">
              <h2>OWNER DETAILS </h2>
              <label for="Name" class="form-label">Name</label>
              <input type="text" name="Name" class="form-control" value="<%= details.Name %>"/>
              <label for="USER_NAME" class="form-label">USER NAME</label>
              <input type="text" name="USER_NAME" class="form-control" value="<%= details.UserName %>"/>
              <label for="MOBILE-NUMBER" class="form-label">MOBILE NUMBER</label>
              <input type="text" name="MOBILE NUMBER" class="form-control" value="<%= details.Mobile %>"/>
              <label for="AADHAR" class="form-label">AADHAR NUMBER</label>
              <input type="text" name="AADHAR" class="form-control" value="<%= details.Aadhar %>"/>
              <label for="MAIL" class="form-label">MAIL</label>
              <input type="text" name="MAIL" class="form-control" value="<%= details.Mail %>"/>
              <label for="STATION_NAME" class="form-label">STATION NAME</label>
              <input type="text" name="STATION_NAME" class="form-control" value="<%= details.station_Name %>"/>
<br>
              <h2>LEVEL 1 CHARGING POINT </h2>
              <% details.AvailableTypes.forEach(function(type){ %>
                <% if(type.level === "Level 1"){ %>
                  <label for="Name" class="form-label">NO OF LEVEL OF CHARGING POINTS:</label>
                  <input type="text" name="Name" class="form-control" value="<%= type.slots %>"/>
                  <% if(type.level === "Level 1"){ %>
                    <% type.timeslots.forEach(function(slot){ %>
                      <label for="TIME_SLOT_1" class="form-label">TIME SLOT :</label>
                      <input type="text" name="TIME_SLOT_1" class="form-control" value="<%= slot %>"/>
                    <% }); %>
                  <% } %>
                <% } %>
              <% }); %>
              <br>

              <h2>LEVEL 2 CHARGING POINT </h2>
              <% details.AvailableTypes.forEach(function(type){ %>
                <% if(type.level === "Level 2"){ %>
                  <label for="Name" class="form-label">NO OF LEVEL OF CHARGING POINTS:</label>
                  <input type="text" name="Name" class="form-control" value="<%= type.slots %>"/>
                  <% type.timeslots.forEach(function(slot){ %>
                    <label for="TIME_SLOT_1" class="form-label">TIME SLOT :</label>
                    <input type="text" name="TIME_SLOT_1" class="form-control" value="<%= slot %>"/>
                  <% }); %>
                  <label for="PRICE" class="form-label">PRICE PER KW OF CHARGING</label>
                  <input type="text" name="PRICE" class="form-control" value="<%= type.Price %>"/>
                <% } %>
              <% }); %>
              <br>
              
              <h2>LEVEL 3 CHARGING POINT </h2>
              <% details.AvailableTypes.forEach(function(type){ %>
                <% if(type.level === "Level 3"){ %>
                  <label for="Name" class="form-label">NO OF LEVEL OF CHARGING POINTS:</label>
                  <input type="text" name="Name" class="form-control" value="<%= type.slots %>"/>
                  <label for="PRICE" class="form-label">PRICE PER KW OF CHARGING</label>
                  <input type="text" name="PRICE" class="form-control" value="<%= type.Price %>"/>
                <% } %>
              <% }); %>

<br>
              
              <button type="submit" name="ResName"  class="btn btn-info btn-md">SUBMIT</button>
  
  
            </form>
            <a href="/ownersignup/level-3"><button name="ResName"  class="btn btn-info btn-md">Back</button></a>
  
                    </div>
        </div>
      </div>
    </body>
</html>
